

<div id="authors">


  <% if @authors != [] %>

    <table>
      <tr class="row">
        <th class="span2"> Author id </th>
        <th class="span2"> Author Name </th>
      </tr>
     
      <% @authors.each do |author| %>
        <tr class="row <%= cycle('evenrow', 'oddrow') -%>" id="<%= author.id%>">
          <td class="span2"><%= author.id %></td>
          <td class="span2"><%= author.name %></td>
          <td class="span4">
            <button class="btn get_works_author" id="<%= author.id%>"> Get All papers </button>
            <button class="btn get_related_authors" id="<%= author.id%>"> Get Related Authors </button>
          </td>
        </tr>  
      <% end %>
    </table>

  <% else %>

  <h1> <%= @msg %></h1>

  <% end %>



</div>